@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

.btn {
  text-transform: capitalize;
  background-color: $pry-clr;
  color: $white;
  padding: 0.7rem 1.5rem;
  border-radius: 0.2rem;
  font-size: $fs-small;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}
