@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap');

// CORE STYLES
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// FONTS
$font-family: 'Inter', sans-serif;

body {
  text-size-adjust: 100%;
  font-family: $font-family;
  line-height: 1.6;
  background-color: $bg-clr;

  &.fixed {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.container {
  padding: 0 1rem;
}

// HEADER SECTION
.header {
  transition: background-color 0.3s ease-in;

  &__content {
    position: relative;
    @include flex(center, space-between);
    padding: 1.5rem 1rem;
  }

  &__logo {
    width: 100px;
  }

  &.show {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $white;
    z-index: 999;
    // transform: translateY(-200%);
  }

  &.show &__content {
    padding: 1rem;
  }

  //   &.inView {
  //     transform: translateY(0);
  //     transition: all 0.5s ease-in;
  //   }

  //   &.inView .nav {
  //     position: absolute;
  //     top: 0;
  //     height: 100vh;
  //     width: 100%;
  //   }

  // MENU BAR
  .toggle-menu {
    font-size: 1.3rem;
    cursor: pointer;
    z-index: 999;
  }

  .toggle-menu i.showNav::before {
    content: '\f00d';
    color: $white;
  }
}

// NAV
.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  @include flex(center, center);
  background-color: $sec-clr;
  clip-path: circle(100px at 90% -30%);
  -webkit-clip-path: circle(100px at 90% -30%);
  transition: all 0.7s ease-out;

  &.showNav {
    clip-path: circle(15000px at 90% -140%);
    -webkit-clip-path: circle(1500px at 90% -10%);
  }

  &__menu {
    text-transform: capitalize;
    text-align: center;

    li {
      margin-bottom: 1.5rem;
    }

    a {
      color: $white;
      font-size: 1.4rem;
    }
  }
}

// HERO SECTION
.hero {
  &__img {
    img {
      border-radius: 0.4rem;
      margin-bottom: 3rem;
    }
  }

  &__text {
    @include flex(center, center);
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: 2.5rem;
      font-weight: 800;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1.5rem;
    }
  }
}

// ACHIEVMENT SECTION
.achieve {
  background-color: $sec-clr;
  color: $white;
  margin-top: 5rem;

  &__content {
    padding: 5rem 0;
    text-align: center;

    .col-1 {
      margin-bottom: 2rem;
      h2 {
        font-weight: 700;
        font-size: $h2-fs;
      }
    }

    .col-2 {
      span {
        font-weight: 700;
        font-size: 1.5rem;
      }

      p {
        font-size: $fs-small;
      }

      .m-b {
        margin-bottom: 2rem;
      }
    }
  }
}

// ABOUT SECTION
.about {
  margin-top: 5rem;

  &__content {
    text-align: center;

    .img {
      overflow: hidden;
      border-radius: 0.4rem;

      img {
        transition: transform 0.4s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &__text {
    margin-top: 3rem;
    h2 {
      font-size: $h2-fs;
      margin-bottom: 1.5rem;
    }

    p:not(:last-of-type) {
      margin-bottom: 1.5rem;
    }
  }

  &__btn {
    margin-top: 1.5rem;
  }
}

// LESSONS SECTION
.lesson {
  background-color: $sec-clr;
  margin-top: 5rem;

  &__content {
    padding: 5rem 0;
    color: $white;
    text-align: center;
  }

  &__title {
    margin-bottom: 2.5rem;

    h2 {
      font-size: $h2-fs;
    }
  }

  &__text:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__text {
    h3 {
      font-size: 1.5rem;
      margin-bottom: 0.2rem;
    }
  }
}

// TESTIMONIAL SECTION
.testimonial {
  margin-top: 5rem;
  position: relative;

  img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0 auto 0.5rem;
    object-fit: cover;
  }

  &__content {
    text-align: center;
  }

  &__title {
    margin-bottom: 2.5rem;

    h2 {
      font-size: $h2-fs;
    }
  }

  &__cards {
    overflow: hidden;
    height: 300px;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
  }

  &__card {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.6s ease-in-out;

    &.current {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__card--text {
    position: relative;
    background-color: $pry-clr;
    color: $sec-clr;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;

    h3 {
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: $fs-small;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -2.2rem;
      left: 50%;
      transform: translateX(-50%);
      border-style: solid;
      border-width: 20px;
      border-color: $pry-clr transparent transparent transparent;
    }
  }

  // INDICATORS
  .indicators {
    button {
      cursor: pointer;
      height: 0.5rem;
      width: 0.5rem;
      margin: 0 0.1rem;
      border-radius: 50%;
      border: none;
      background-color: $pry-clr;
    }
  }
}

.footer {
  margin-top: 5rem;
}
