@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap");
.btn {
  text-transform: capitalize;
  background-color: #2ec5ce;
  color: #fff;
  padding: 0.7rem 1.5rem;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  text-size-adjust: 100%;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background-color: #d9e8ef;
}

body.fixed {
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.container {
  padding: 0 1rem;
}

.header {
  transition: background-color 0.3s ease-in;
}

.header__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.header__logo {
  width: 100px;
}

.header.show {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 999;
}

.header.show .header__content {
  padding: 1rem;
}

.header .toggle-menu {
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 999;
}

.header .toggle-menu i.showNav::before {
  content: '\f00d';
  color: #fff;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b0d17;
  clip-path: circle(100px at 90% -30%);
  -webkit-clip-path: circle(100px at 90% -30%);
  transition: all 0.7s ease-out;
}

.nav.showNav {
  clip-path: circle(15000px at 90% -140%);
  -webkit-clip-path: circle(1500px at 90% -10%);
}

.nav__menu {
  text-transform: capitalize;
  text-align: center;
}

.nav__menu li {
  margin-bottom: 1.5rem;
}

.nav__menu a {
  color: #fff;
  font-size: 1.4rem;
}

.hero__img img {
  border-radius: 0.4rem;
  margin-bottom: 3rem;
}

.hero__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.hero__text h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.hero__text p {
  margin-bottom: 1.5rem;
}

.achieve {
  background-color: #0b0d17;
  color: #fff;
  margin-top: 5rem;
}

.achieve__content {
  padding: 5rem 0;
  text-align: center;
}

.achieve__content .col-1 {
  margin-bottom: 2rem;
}

.achieve__content .col-1 h2 {
  font-weight: 700;
  font-size: 2.2rem;
}

.achieve__content .col-2 span {
  font-weight: 700;
  font-size: 1.5rem;
}

.achieve__content .col-2 p {
  font-size: 0.9rem;
}

.achieve__content .col-2 .m-b {
  margin-bottom: 2rem;
}

.about {
  margin-top: 5rem;
}

.about__content {
  text-align: center;
}

.about__content .img {
  overflow: hidden;
  border-radius: 0.4rem;
}

.about__content .img img {
  transition: transform 0.4s ease-in-out;
}

.about__content .img img:hover {
  transform: scale(1.1);
}

.about__text {
  margin-top: 3rem;
}

.about__text h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.about__text p:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.about__btn {
  margin-top: 1.5rem;
}

.lesson {
  background-color: #0b0d17;
  margin-top: 5rem;
}

.lesson__content {
  padding: 5rem 0;
  color: #fff;
  text-align: center;
}

.lesson__title {
  margin-bottom: 2.5rem;
}

.lesson__title h2 {
  font-size: 2.2rem;
}

.lesson__text:not(:last-child) {
  margin-bottom: 2rem;
}

.lesson__text h3 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.testimonial {
  margin-top: 5rem;
  position: relative;
}

.testimonial img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0 auto 0.5rem;
  object-fit: cover;
}

.testimonial__content {
  text-align: center;
}

.testimonial__title {
  margin-bottom: 2.5rem;
}

.testimonial__title h2 {
  font-size: 2.2rem;
}

.testimonial__cards {
  overflow: hidden;
  height: 300px;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.testimonial__card {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.6s ease-in-out;
}

.testimonial__card.current {
  opacity: 1;
  transform: translateX(0);
}

.testimonial__card--text {
  position: relative;
  background-color: #2ec5ce;
  color: #0b0d17;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.testimonial__card--text h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.testimonial__card--text p {
  font-size: 0.9rem;
}

.testimonial__card--text::after {
  content: '';
  position: absolute;
  bottom: -2.2rem;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 20px;
  border-color: #2ec5ce transparent transparent transparent;
}

.testimonial .indicators button {
  cursor: pointer;
  padding: 0.2rem;
  height: 10px;
  width: 10px;
  margin: 0 0.1rem;
  border-radius: 50%;
  border: 1.5px solid transparent;
  background-color: #2ec5ce;
}

.testimonial .indicators .active {
  background-color: #fff;
  border-color: #2ec5ce;
  transition: background-color 0.6s ease-in-out;
}

.footer {
  margin-top: 5rem;
}
